.form {
  border: 1px solid $color-black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  align-self: center;
  gap: 10px;
  .error {
    background-color: #ff8686;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
}
