$color-white: #fff;
$color-black: #000;

$color-grey-tint1: #f9fbfd;
$color-grey-tint2: #f3f6f9;
$color-grey-tint3: #ebf0f4;
$color-grey-tint4: #d6dde3;
$color-grey-tint5: #bbc7d1;
$color-grey-tint6: #707a83;
$color-grey-tint7: #40484f;
$color-grey-tint8: #252a2f;
$color-grey-tint9: #111928;
$color-grey-tint10: #6b7280;

$color-player-1: #ff0000;
$color-player-2: #0000ff;
