.container {
  display: flex;
}
.gameField {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  flex-direction: row;
  align-items: center;
}
.chat {
  width: 30%;
  min-height: 70vh;
}
