$color-white: #fff;
$color-black: #000;

$color-grey-tint1: #F9FBFD;
$color-grey-tint2: #F3F6F9;
$color-grey-tint3: #EBF0F4;
$color-grey-tint4: #D6DDE3;
$color-grey-tint5: #BBC7D1;
$color-grey-tint6: #707A83;
$color-grey-tint7: #40484F;
$color-grey-tint8: #252A2F;
$color-grey-tint9: #111928;
$color-grey-tint10: #6B7280;